@using test.Utility
@model OrderVm

<form method="post">
	<input asp-for="orderHeader.Id" hidden />
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0 row container">
				<div class="col-12 d-none d-md-block col-md-6 pb-1">
					<i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
				</div>
				<div class="col-12 col-md-4 offset-md-2 text-right">
					<a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-primary">PickUp Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">Name</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin)||User.IsInRole(SD.Role_Employee)){
										<input asp-for="orderHeader.Name" class="form-control" />
										<span asp-validation-for="orderHeader.Name"></span>
									}
									else
									{
									<input asp-for="orderHeader.Name" readonly class="form-control" />	
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Phone</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin)||User.IsInRole(SD.Role_Employee)){
										<input asp-for="orderHeader.PhoneNumber" class="form-control" />
										<span asp-validation-for="orderHeader.PhoneNumber"></span>
									}
									else
									{
									<input asp-for="orderHeader.PhoneNumber" readonly class="form-control" />	
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Address</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin)||User.IsInRole(SD.Role_Employee)){
										<input asp-for="orderHeader.StreetAddress" class="form-control" />
										<span asp-validation-for="orderHeader.StreetAddress"></span>
									}
									else
									{
									<input asp-for="orderHeader.StreetAddress" readonly class="form-control" />	
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">City</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin)||User.IsInRole(SD.Role_Employee)){
										<input asp-for="orderHeader.City" class="form-control" />
										<span asp-validation-for="orderHeader.City"></span>
									}
									else
									{
									<input asp-for="orderHeader.City" readonly class="form-control" />	
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">State</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin)||User.IsInRole(SD.Role_Employee)){
										<input asp-for="orderHeader.State" class="form-control" />
										<span asp-validation-for="orderHeader.State"></span>
									}
									else
									{
									<input asp-for="orderHeader.State" readonly class="form-control" />	
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Zip Code</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin)||User.IsInRole(SD.Role_Employee)){
										<input asp-for="orderHeader.PostalCode" class="form-control" />
										<span asp-validation-for="orderHeader.PostalCode"></span>
									}
									else
									{
									<input asp-for="orderHeader.PostalCode" readonly class="form-control" />	
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Email</div>
								<div class="col-9">
									<input asp-for="orderHeader.ApplicationUser.Email" readonly class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Order Date</div>
								<div class="col-9">
									<input value="@Model.orderHeader.OrderDate.ToShortDateString()" class="form-control" readonly />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3" >Carrier</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin)||User.IsInRole(SD.Role_Employee)){
										<input id="carrier" asp-for="orderHeader.Carrier" class="form-control" />
										<span asp-validation-for="orderHeader.Carrier"></span>
									}
									else
									{
									<input asp-for="orderHeader.Carrier" readonly class="form-control" />	
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3" >Tracking</div>
								<div class="col-9">
									@if(User.IsInRole(SD.Role_Admin)||User.IsInRole(SD.Role_Employee)){
										<input id="tracking" asp-for="orderHeader.TrackingNumber" class="form-control" />
										<span asp-validation-for="orderHeader.TrackingNumber"></span>
									}
									else
									{
									<input asp-for="orderHeader.TrackingNumber" readonly class="form-control" />	
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Shipping Date</div>
								<div class="col-9">
									<input value="@Model.orderHeader.ShippingDate.ToShortDateString()" id="shippingDate" type="text" readonly class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">session ID</div>
								<div class="col-9">
									@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
									{
										<input asp-for="orderHeader.SessionId" class="form-control" />
									}
									else
									{
										<input asp-for="orderHeader.SessionId" readonly class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Payment Intent ID</div>
								<div class="col-9">
									@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
									{
										<input asp-for="orderHeader.PaymentIntentId" class="form-control" />
									}
									else
									{
										<input asp-for="orderHeader.PaymentIntentId" readonly class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								@if (Model.orderHeader.PaymentStatus != SD.paymentStatusApproved)
								{
									<div class="col-3">Payment Due Date</div>
									<div class="col-9">
										<input value="@Model.orderHeader.PaymnetDueDate" readonly class="form-control" />
									</div>
								}
								else 
								{
									<div class="col-3">Payment Date</div>
									<div class="col-9">
									<input value="@Model.orderHeader.PaymentDate" readonly class="form-control" />
									</div>
								}
							</div>
							<div class="row my-1">
								<div class="col-3">Payment Status</div>
								<div class="col-9">
									<input asp-for="orderHeader.PaymentStatus"type="text" readonly class="form-control" />
								</div>
							</div>
							<button type="submit" asp-action="UpdateOrderDetails" class="btn btn-warning form-control my-1">submit</button>


						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">Order Summary</span>
							</h4>
							<label class="btn btn-outline-primary form-control my-2">Order Status - @Model.orderHeader.OrderStatus</label>

							<ul class="list-group mb-3">
								@foreach (var item in Model.orderDetails)
								{
								<li class="list-group-item d-flex justify-content-between p-2">
									<div class="row container">
										<div class="col-8">

											<h6 class="my-0 text-primary">@item.Product.Title</h6>
											<small class="text-muted">Price : @item.Price</small><br />
											<small class="text-muted">Quantity : @item.Count</small>
										</div>
										<div class="col-4">
											<p class="text-success">@((item.Price * item.Count).ToString("0.00"))</p>
										</div>
									</div>
								</li>
								}
								<li class="list-group-item bg-info">
									<div class="row container">
										<div class="col-6">
											<h5 class="text-white">TOTAL </h5>
										</div>
										<div class="col-6 text-right">
											<h5 class="text-white">@Model.orderHeader.OrderTotal</h5>
										</div>
									</div>
								</li>
							</ul>

							@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
							{
								@if (Model.orderHeader.OrderStatus == SD.orderStatusApproved)
								{
									<input type="submit" asp-action="ProcessOrder" asp-route-id="@Model.orderHeader.Id" class="btn btn-primary form-control my-1" value="Start Processing" />
								}
								@if (Model.orderHeader.OrderStatus == SD.orderStatusInProcess)
								{
									<input type="submit" asp-action="ShipOrder" onclick="return check()" class="btn btn-primary form-control my-1" value="Ship Order" />
								} 
								@if (Model.orderHeader.OrderStatus != SD.orderStatusRefunded && Model.orderHeader.OrderStatus != SD.orderStatusCancelled)
								{
									<input asp-action="Cancel" type="submit" class="btn btn-danger form-control my-1" value="Cancel Order" />
								}

							}
							@if (Model.orderHeader.PaymentStatus == SD.paymentStatusDelayedPayment)
								{
									<input asp-action="Pay" asp-route-id="@Model.orderHeader.Id" type="submit" class="btn btn-success form-control my-1" value="Pay Now" />
								}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
@section scripts{
	<script>
function check() {
    if (document.getElementById("carrier").value == "") { 
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Carrier Needed',
  footer: '<a href="">Why do I have this issue?</a>'
})
        return false;
	}
	else if (document.getElementById("tracking").value=="") {
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Tracking Number Needed',
  footer: '<a href="">Why do I have this issue?</a>'
})
        return false;
	}
    return true;
}
	</script>
	<partial name="_ValidationScriptsPartial"/>
}